body {
  background: url('https://cdn.pixabay.com/photo/2016/04/05/06/29/theater-1308794_960_720.jpg') 0 0/cover no-repeat;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  padding: 0 1.5rem;
}

.header {
  position: sticky;
  top: 0;
  z-index: 2;
  opacity: 0.9;
}

.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 1.5rem 0;
  z-index: 1;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0.5rem;
}

label:not(:last-child) {
  margin-right: 1rem;
}
